.App {
  font-family: sans-serif;
  text-align: center;
}
.mailBorder {
  border-top: 1px solid #cabcbc;
  border-bottom: 1px solid #cabcbc;
  position: absolute;
  height: 40px;
  width: 805px;
}
.sender {
  position: absolute;
  left: 75px;
  font-weight: bold;
}
.subject {
  position: absolute;
  left: 250px;
  font-weight: bold;
}
.date {
  position: absolute;
  left: 725px;
  font-weight: normal;
}
.message {
  position: absolute;
  top: 20px;
  left: 74px;
  opacity: 0.7;
}
.button {
  position: absolute;
  width: 5px;
  height: 15px;
  top: 12px;
  left: 20px;
  background-color: white;
  border: 1px solid black;
}

.button:hover {
  cursor: pointer;
  background-color: gray;
}
